{% extends "base.html" %}
{% block title %} - {{ project }}{% endblock %}
{% block css %}
        .nav {
            margin-bottom: 10px;
            clear: both;
        }
        a, img {
            padding: 0;
            margin: 0;
        }
        .graph {
            display: inline;
            text-align: center;
            width: {{ width }}px;
            height: {{ height }}px;
            {%- block cssfloat %}
            float: left;
            {%- endblock %}
        }
{% endblock %}
{% block content %}
{% block nav %}
    <div class="nav">
        <a href="/perf">&lt; perf</a>
    </div>
{% endblock %}
{% block graphs %}
    {%- for graph in graphs -%}
    {% set imgpath = '/perf/%s/graph/%s/%s/%s' %
        (project|urlencode, graph.host|urlencode, graph.tag|urlencode, graph.counter|urlencode) %}
    <a href="{{ imgpath }}/view/2"><img class="graph" src="{{ imgpath }}/1?ts={{ ts }}" /></a>
    {%- endfor %}
{% endblock %}
{% endblock %}
