{% extends "project.html" %}
{% block title %} - {{ project }} - {{ graph.host }} - {{ graph.tag }} - {{ graph.counter }}{% endblock %}
{% block cssfloat %}{% endblock %}
{% set next_size = size|int % 4 + 1 %}
{% if next_size < 2 %}{% set next_size = 2 %}{% endif %}
{% block nav %}
<div class="nav">
    <a href="/perf/{{ project }}">&lt; {{ project }}</a>
    <a href="{{ next_size }}">size</a>
    {% if page < pages %}
    <a href="{{ size }}?page={{ page + 1}}">&lt;&lt;</a>
    {% else %}__{% endif %}
    <span>page {{ page }}</span>
    {% if page > 1 %}<a href="{{ size }}?page={{ page - 1}}">&gt;&gt;</a>
    {% else %}__{% endif %}
</div>
{% endblock %}
{% block graphs %}
    {% set imgpath = '/perf/%s/graph/%s/%s/%s' %
        (project|urlencode, graph.host|urlencode, graph.tag|urlencode, graph.counter|urlencode) %}
    <a href="/perf/{{ project|urlencode }}"><img class="graph" src="{{ imgpath }}/{{ size }}?page={{ page }}&ts={{ ts }}" /></a>
{% endblock %}
